* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(128, 128, 128);
    background: linear-gradient(0deg, rgba(128, 128, 128, 1) 0%, rgba(255, 220, 145, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Estilos para el primer div con clase .carousel-caption */
.carousel-caption.d-block {
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
}

.carousel-caption.d-block h1 {
    font-size: 24px;
    margin: 5px;
}

.carousel-caption.d-block p {
    font-size: 16px;
    margin: 5px;
}

/* Estilos para el segundo div con clase .carousel-caption */
.carousel-caption.d-block+.carousel-item .carousel-caption {
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
}

.carousel-caption.d-block+.carousel-item .carousel-caption h1 {
    font-size: 24px;
    margin: 5px;
}

.carousel-caption.d-block+.carousel-item .carousel-caption p {
    font-size: 16px;
    margin: 5px;
}

/* Estilos para el tercer div con clase .carousel-caption */
.carousel-caption.d-block+.carousel-item+.carousel-item .carousel-caption {
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
}

.carousel-caption.d-block+.carousel-item+.carousel-item .carousel-caption h1 {
    font-size: 24px;
    margin: 5px;
}

.carousel-caption.d-block+.carousel-item+.carousel-item .carousel-caption p {
    font-size: 16px;
    margin: 5px;
}

.border-rounded-image {
    border-radius: 10px;
    /* Puedes ajustar el valor según tu preferencia */
}

.title-bienvenida {
    font-size: 45px;
}

/* Estilo para ocultar el contenido en elementos con la clase 'active' */
.nav-item.active .nav-item-content {
    display: none;
}

section {
    background: rgb(128, 128, 128);
    background: linear-gradient(0deg, rgba(255, 220, 145, 1) 0%, rgba(128, 128, 128, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Estilos para la imagen del producto */
.product-image {
    max-width: 100%;
    height: auto;
}

/* Estilos para la imagen del producto en las tarjetas */
.product-image {
    max-width: 160px;
    max-height: 150px;
    /* Ajusta la altura máxima a tu preferencia */
    margin: 0 auto;
    /* Centra la imagen horizontalmente */
}